                                     #client-side 

                                     #server-side
APP_PORT='Your server port number'
APP_LOG_LEVEL='log level'
APP_NODE_ENV='prodcution | development mode'

#for jwt token generation
APP_ACCESS_TOKEN_SECRET='your_access_token_secret'
APP_REFRESH_TOKEN_SECRET='your_access_token_secret'

##https://pusher.com/
APP_PUSHER_ID=""
APP_PUSHER_KEY=""
APP_PUSHER_SECRET=""
APP_PUSHER_CLUSTER=""