@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

/* Disable touch highlighting for all elements */

* {
  -webkit-tap-highlight-color: transparent; /* For iOS Safari */
  -webkit-touch-callout: none; /* Disable callout, iOS long-press menu */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; /* Disable text selection on all elements */
}

/* Disable touch highlighting for all elements */

/* scroll-bar*/
.body-scroll::-webkit-scrollbar {
  @apply w-2;
}

.body-scroll::-webkit-scrollbar-thumb {
  @apply bg-sky-200 rounded-2xl;
}
/* scroll-bar*/
